:root {
    --sweets: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Cute/sweets1.jpg);
    --bubbles: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Cute/bubbles.jpg);
    --gloom: #2B363B;
    --funky-font: 'MuseoModerno';
}
body {
    --background-image: var(--bubbles);
    --main-color: var(--gloom);
    font-family: var(--funky-font);
}
.grid {
   column-count: 3;
   column-gap: 10px;
}
.img {
    border-image: var(--sweets) 100;
}
